<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>Monster Catcher</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <style>
    body {word-wrap:break-word;
          padding-right:50px;
          padding-left:50px;
          padding-top:10px;
         }
    .avatar{
           margin-top:3px;
           border-radius: 50%;
           height:35px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MonsterCatcher</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/trophy">Trophy Case</a></li>
        <li class="active"><a href="/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--  <li><button type="button" class="btn btn-inverse"><span class="glyphicon glyphicon-refresh"></span></button></li>-->
        <li><div class="avatar"><img alt src=<%=user.avatar%> class="avatar"/></div></li>
        <li><a href="/logout">Logout</a></li>
    </div>
  </div>
</nav>
</div>
<!-- check if goals are set -->
<script>
$(".alert").alert()
</script>
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Welcome <%=user.name%>!</strong> Please set a custom calorie or step goal below!
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Goal Settings
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
 <div class="row">
<div class="col-lg-6">
    <div class="input-group">
      <input type="number" class="form-control"i value="Daily Goal: # of Calories to Burn">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Set!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<div class="row">
<div class="col-lg-6">
    <div class="input-group">
      <input type="number" class="form-control"i value="Daily Goal: # of Steps">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Set!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

     </div>
    </div>
  </div>
</div>





<!--
<form action="/create" method="post" accept-charset="utf-8">
  <input type="text" name="content" />
</form>-->

</body>
</html>

